html {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: lightgray;
}

.frame {
  display: grid;
  height: 500px;
  width: 300px;
  margin: 50px auto;
  border-radius: 10px;
  background-color: rgb(44, 44, 44);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "label label label label"
    "input input input input"
    "input input input input"
    "seven eight nine divide"
    "four five six multiple"
    "one two three subtraction"
    "zero comma equals addition";

  align-items: center;
  column-gap: 2px;
  row-gap: 2px;
  padding: 5px;
  padding-top: 0;
}

label {
  grid-area: label;
  text-align: center;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.numericInput {
  grid-area: input;

  border: none;
  font-size: 26px;
  padding: 0;
  margin: 0;
  background-color: rgb(66, 66, 66);
  height: 100%;
  border-radius: 1px;
  color: white;
  text-align: right;
  padding-inline-end: 20px;
}

.numericInput:focus {
  outline: none;
}

.frame button {
  height: 100%;
  width: 100%;
}

button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: rgb(90, 90, 90);
  color: white;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: rgb(150, 150, 150);
  box-shadow: rgba(150, 150, 150, 1) 0px 0px 0px 1px;
}

.frame button {
  border: none;
  border-radius: 1px;
}

.one {
  grid-area: one;
}

.two {
  grid-area: two;
}

.three {
  grid-area: three;
}

.four {
  grid-area: four;
}

.five {
  grid-area: five;
}

.six {
  grid-area: six;
}

.seven {
  grid-area: seven;
}

.eight {
  grid-area: eight;
}

.nine {
  grid-area: nine;
}

.zero {
  grid-area: zero;
}

.comma {
  grid-area: comma;
}

.equals {
  grid-area: equals;
}

.divide {
  grid-area: divide;
}

.multiply {
  grid-area: multiple;
}

.subtract {
  grid-area: subtraction;
}

.addition {
  grid-area: addition;
}

h1 {
    display: none;
  font-size: 20px;
  margin-left: 45%;
  font-weight: 500;
  margin-bottom: 0;
}

.previousCalulations {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.previousCalulations p {
  position: relative;
  margin: 5px;
  align-self: flex-start;
  margin-left: 45%;
}
